body{
    background-color: white;
    margin: 0px;
}
.first-ul{
    display: flex;
    list-style-type: none;
    margin-top: 0px;
}
.first-li{
    padding-left: 60px;
    margin: 0;
    padding-top: 8px;
}
a{
    color: black;
    text-decoration: none;
}
#sty{
    margin-left: 25%;
}
#first-facebook{
    font-size: 25px;
    color: white;
    padding: 0;
    margin: 0;
}
.second-ul{
    display: flex;
    list-style-type: none;
    margin-left: 20%;
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.second-li{
    padding: 20px;
}
.father{
    display: flex;
    background-color: blue;
    color: white;
    height: 50px;
    margin: 0%;
    padding: 0%;
}
#first-hyper{
    color: lightgoldenrodyellow;
    padding-top: 14px;
}
#first-hyper:hover{
    color: black;
    text-decoration: none;
}
#first-facebook:hover{
    color: lightgray;
}
#barrs{
    display: flex;
    padding-left: 50px;
}
.product{
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
}
#bars:hover{
    color: blue;
    text-decoration: none;
}
#barrs:hover{
    color: blue;
    text-decoration: none;
}
.father-hyper{
    display: flex;
    margin-top: 40px;
}
.second-father{
    display: flex;
    margin-top: 40px;
    padding-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#fath{
    padding-left: 50px;
}
#home{
    margin-top: 0px;
    padding-top: 0%;
    font-size: 25px;
}
#fath:hover{
    color: blue;
    text-decoration: none;
}
#home:hover{
    color: blue;
    text-decoration: none;
}
.grand-father{
    display: flex;
    margin-top: 0px;
    margin: 0px;
}
.unique{
    margin-top: 0px;
}
.talent{
    display: block;
    margin-left: 40%;
    margin-top: 0px;
}
.third-ul{
    list-style-type: none;
    display: flex;
    margin-left: 150px;
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.third-li{
    padding-left: 70px;
    padding-top: 20px;
}
#nav:hover{
text-decoration: none;
}
.third-li #nav:hover{
        color: blue;
        display: block;
}
nav{
    background-color: navy;
    height: 60px;
}
#nav{
    color: white;
}
.third-unique{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding-left: 50px;
    animation: unique 5s infinite;
}
.third-unique:hover{
    cursor: pointer;
}
@keyframes unique{
    from{
        color: black;
    }
    to{
        color: navy;
        transition: 0.2s;
    }
}
.thir-unique{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 20px;
}
.thir-unique:hover{
    cursor: pointer;
}
.multi{
    padding-left: 30px;
}
.vent{
    padding: 100px;
}
.bac{
    background-image: url(antico.png);
    padding: 120px;
    margin: 0px;
    background-size: cover;
}
.sec-unique{
    margin-left: 70%;
}
.fifth-ul{
    display: flex;
    list-style-type: none;
}
.fifth-li{
    padding-left: 60px;
    padding-top: 30px;
}
.fifth-back{
    background-color: black;
    color: white;
    height: 70px;
    width: 75%;
    border-radius: 50px;
    margin: auto;
    margin-top: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#fifth-li{
    color: white;
}
#fifth-li:hover{
    color: navy;
}
.first-classic{
    margin-left: 5%;
    margin-top: 30px;
}
.third-h1{
    padding-left: 40%;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
}
.near{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 25%;
    color: white;
    padding-top: 20px;
}
.near:hover{
    color: black;
}
#search{
    font-size: 25px;
}
.search-button{
    background-color: navy;
    height: 70px;
    margin-top: 50px;
}
.sec-back{
    background-image: url(classic.jpg);
    background-size: cover;
    height: 200px;
    width: 350px;
    padding-left: 10px;
    margin-left: 90px;
}
.third-back{
    background-image: url(milano.jpg);
     background-size: cover;
    height: 200px;
    width: 350px;
    padding-left: 10px;
    margin-left: 20px;
}
.fourth-back{
    background-image: url(shingle.jpg);
     background-size: cover;
    height: 200px;
    width: 350px;
    padding-left: 10px;
    margin-left: 20px;
}
.gerrard-father{
    display: flex;
    margin-top: 5%;
}
.gerrard-mother{
    display: flex;
    margin-top: 7%;
}
.fif-back{
    background-image: url(slate.jpg);
    background-size: cover;
    height: 200px;
    width: 350px;
    padding-left: 10px;
    margin-left: 90px;
}
.sixth-back{
    background-image: url(heritage.jpg);
    background-size: cover;
    height: 200px;
    width: 350px;
    padding-left: 10px;
    margin-left: 20px;
}
.seventh-back{
    background-image: url(shake.jpg);
    background-size: cover;
    height: 200px;
    width: 350px;
    padding-left: 10px;
    margin-left: 20px;
}
.third-p{
    padding-top: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
#third-p{
    color: white;
}
#third-p:hover{
    color: navy;
}
.tiles{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 43%;
    padding-top: 50px;
}
.second-h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.mail:hover{
    text-decoration: none;
}
button{
    background-color: black;
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 30px;
    border: 2px solid white;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 30px;
}
button:hover{
    cursor: pointer;
}
.last-div{
    display: flex;
    padding-left: 40px;
    padding-top: 20px;
}
#weaver{
    padding-left: 5px;
    padding-top: 17px;
    color: lightgoldenrodyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#weaver:hover{
    text-decoration: underline;
    color: navy;
}
footer{
    background-color: black;
    color: lightgoldenrodyellow;
    display: flex;
    height: 70px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.last-ul{
display: flex;
list-style-type: none;
margin-left: 35%;
}
.fifth-h1{
    color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30%;
}
.h4{
     color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
.bigger{
    background-color: navy;
    display: flex;
    color: white;
    margin-top: 10%;
}
.big{
    margin-top: 5%;
    margin-left: 5%;
}
.h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30%;
}
.third-h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.second-img{
    margin-top: 50px;
    margin-left: 30px;
}
.house{
    color: dodgerblue;
}
.small{
    font-size: 15px;
    padding-top: 80px;
}
span{
    display: flex;
}
#first-envelope{
    padding-top: 14px;
    padding-right: 10px;
}
#envelope{
    padding-top: 13px;
    padding-right: 10px;
}
#ph{
    padding-top: 14px;
    padding-right: 10px;
}
.small{
    padding-top: 0px;
    padding-bottom: 30px;
}
.first-lia{
    padding-left: 40px;
    margin: 0;
    padding-top: 8px;
}
.first-lib{
    padding-left: 40px;
    margin: 0;
    padding-top: 8px;
}
a{
    color: black;
    text-decoration: none;
}
.none{
    display: none;
}
.menu-toggle {
      display: none;
      font-size: 28px;
      color: black;
      cursor: pointer;
    }
    .road{
        background-color: blue;
        height: 100px;
        color: white;
        margin-top: 15%;
    }
    @media  (max-width: 900px) {
   .first-ul{
    display: block;
    list-style-type: none;
    margin-top: 0px;
    overflow: hidden;
}
.father{
    height: 100%;
    display: block;
    margin-left: 0px;
    width: 100%;
    overflow-x: hidden;
}
.first-li{
    padding-left: 0px;
    overflow: hidden;
}
.firstly{
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    overflow: hidden;
}
.small{
    padding-left: 0%;
    padding-top: 10px;
    padding-right: 23%;
    overflow: hidden;
    font-size: 20px;
}
.first-li{
    padding-left: 0px;
    margin: 0;
    padding-top: 8px;
    font-size: 18px;
    margin-left: 0px;
}
.first-lia{
    padding-left: 0px;
    padding-top: 0px;
}
.first-lib{
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 30px;
}
.second-li{
   margin-top: 60px;
}
#first-facebook{
    font-size: 40px;
}
#envelope{
    padding-left: 0px;
    padding-right: 5%;
    padding-top: 30px;
    font-size: 25px;
}
.grand-father{
    display: block;
    overflow: hidden;
}
 .talent{
    display: block;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 20px;
    overflow: hidden;
    margin-top: 80px;
}
.third-ul{
    display: block;
    margin-left: 130px;
    overflow: hidden;
}
.third-li{
    padding-left: 40px;
    padding-top: 40px;
    overflow: hidden;
}
.third-unique{
    padding-left: 50px;
    overflow: hidden;
}
.second-unique{
    margin-left: 0px;
    overflow: hidden;
}
.multi{
    font-size: 15px;
    padding-left: 0px;
    overflow: hidden;
}

.second-header{
    font-size: 20px;
    padding-left: 0px;
    margin-left: 0px;
    overflow: hidden;
}
.first-main{
    margin-left: 6px;
    overflow: hidden;
}
.first-h3{
    font-size: 20px;
    padding-left: 5px;
    overflow: hidden;
}
.first-h2{
    padding-left: 50px;
    font-size: 15px;
    overflow: hidden;
    padding-top: 50px;
}
.gerrard-father{
    display: block;
    overflow: hidden;
}
.gerrard-mother{
    display: block;
}
.sec-back{
    margin-left: 30px;
    width: 80%;
}
.third-back{
    margin-left: 30px;
    width: 80%;
}
.fourth-back{
    margin-left: 30px;
    width: 80%;
}
.fifth-back{
    margin-left: 30px;
    width: 80%;
}
.sixth-back{
    margin-left: 30px;
    width: 80%;
}
.seventh-back{
    margin-left: 30px;
    width: 80%;
}
.second-img{
    width: 80%;
    height: 25%;
}
.bigger{
    display: block;
    /* width: 94%; */
    overflow: hidden;
    margin-top: 140px;
}
.h1{
    font-size: 25px;
    padding-left: 100px;
}
.third-h3{
    font-size: 15px;
    padding-left: 0px;
}
button{
    margin-left: 70px;
    overflow: hidden;
}
.last-div{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.father-hyper{
    margin-top: 0px;
    padding-top: 0px;
}
#first-envelope{
    font-size: 25px;
}
#first-hyper{
    font-size: 25px;
}
#ph{
    font-size: 25px;
}
.last-ul{
    margin-left: 60px;
    margin-top: 0px;
}
#weaver{
    padding-left: 100px;
}
.menu-toggle {
        display: block;
  margin-right: 0px;
  margin-top: 30px;
  margin-left: 78%;
  z-index: 200%;
  font-size: 60px;
      }
            .third-ul {
        display: none;
        flex-direction: column;
        background-color: navy;
        text-align: left;
        width: 50%;
        height: 400px;
        margin-left: 40%;
        margin-right: 0%;
        position: absolute;
        z-index: 1000;
      }
      .third-ul.active {
        display: flex;
 }
 nav{
    background-color: white;
 }
 .back{
   overflow: hidden;
   margin-top: 40px;
   position: relative;
}
.her{
    background-color: white;
    color: black;
    margin-left: 0px;
    height: 70px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navt{
    padding-left: 0%;
    padding: 0px;
}
.third-liv{
    padding-left: 40px;
    padding-top: 20px;
}
.p{
    margin-left: 0%;
    width: 200px;
}
footer{
    display: block;
    height: 280px;
    overflow: hidden;
}
#envelope{
    font-size: 30px;
}
.thir-unique{
    font-size: 35px;
    padding-left: 0px;
    color: white;
}
.sec-unique{
    margin-left: 0%;
}
.fifth-back{
    display: none;
}
.none{
    display: block;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    margin-top: 20%;
    height: 100px;
}
.nope{
        padding-left: 40px;
    padding-top: 40px;
}
#first-classic{
    font-size: 30px;
    padding-left: 0px;
    padding-top: 20%;
    margin-left: 20%;
}
#heritage{
    font-size: 30px;
    padding-left: 0px;
    padding-top: 20%;
    margin-left: 20%;
}
#milano{
    font-size: 30px;
    padding-left: 0px;
    padding-top: 20%;
    margin-left: 20%;
}
#shake{
    font-size: 30px;
    padding-left: 0px;
    padding-top: 20%;
    margin-left: 20%;
}
#shingle{
    font-size: 30px;
    padding-left: 0px;
    padding-top: 20%;
    margin-left: 20%;
}
#slate{
    font-size: 30px;
    padding-left: 0px;
    padding-top: 20%;
    margin-left: 20%;
}
.first-classic{
    display: block;
    margin-left: 10%;
}
.fifth-ul{
    display: block;
}
.ifg{
    margin-left: 10px;
    width: 180%;
}
.near{
    font-size: 18px;
    padding-left: 4px;
}
.tiles{
    padding-left: 120px;
}
.second-h2{
    padding-top: 30px;
}
.fif-back{
    margin-left: 30px;
    width: 80%;
}
.search-button{
    margin-top: 100px;
}
.product{
    font-size: 15px;
}
.nope{
    font-size: 25px;
}
#sty{
    display: flex;
}
#search{
    font-size: 15px;
}
.near{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 26px;
}
.contact-form{
    padding-left: 0px;
}
}